<launch>
    <node pkg="teleop_twist_keyboard" name="keyboard_teleop" type="teleop_twist_keyboard.py"
          output="screen" launch-prefix="xterm -e"/>

    <node pkg="choreonoid_ros" name="choreonoid" type="choreonoid"
          args="$(find choreonoid_ros_tutorial)/project/go2_athletic.cnoid"
          output="screen" required="true"/>
</launch>